body {
    background: rgb(204, 231, 215);
}

input,
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    margin: .0rem 0;
}

.navbar-brand {
    opacity: 100;
}

.offcanvas-body {
    background-color: rgb(152, 202, 173);
}

.table {
    position: relative;
}

/* rgb(226, 218, 211); */