{% extends 'base.html' %}{% block content %}
<div class="mb-3">
    <label for="formFileSm" class="form-label"><b>Tayyor xizmatlarni yuklang:</b></label>
    <input value="upl" class="form-control" id="formFileSm" type="file"><br>
    <button class="btn btn-outline-success" name="upl">Yuklash</button>

    <body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Service</th>
                    <th scope="col">Vrach</th>
                    <th scope="col">Role</th>
                    <th scope="col">Narxi</th>
                    <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="0"><b></b></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td colspan="0"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </body>
</div>
{% endblock %}